{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block nav %}
        {{ parent() }}
    {% endblock %}

    {% block main %}
        {{ form_start(produitForm) }}

        <div class="text-black">
        {{  form_widget(produitForm) }}
        </div>
        <button class="btn">C'est parti !</button>
        {{ form_end(produitForm) }}
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}


{% endblock %}
