{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}



    {% block header %}
        {{ include('structure/header.html.twig',{textHeader: "Modifiez le produit"}) }}
       <h2 class="text-3xl text-center">> {{ produit.libelle }}</h2>
    {% endblock %}

    {% block nav %}
        {{ parent() }}
    {% endblock %}

    {% block main %}
        {{ form_start(produitForm) }}

        <div class="text-black">
            {{  form_widget(produitForm) }}
        </div>
        <button class="btn">C'est parti !</button>
        {{ form_end(produitForm) }}
    {% endblock %}



{% block body %}
    {{ parent() }}
{% endblock %}
