{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }}  Produits
{% endblock %}



    {% block header %}
        {{ include('structure/header.html.twig',{textHeader: "Liste des Produits"}) }}

    {% endblock %}



    {% block main %}

        {% if produits %}
<div class="container grid grid-rows-5 grid-flow-col gap-4 ">
            {% for prod in produits %}
                <div class="text-center">
                    <a class="btn" href="{{ path('produit_detail', {'id': prod.id}) }}">{{ prod.libelle }}</a>
                </div>
            {% endfor %}
</div>
        {% else %}
            <div class="text-center">bla</div>
        {% endif %}

    {% endblock %}



{% block body %}
    {{ parent() }}
{% endblock %}

