{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }}  Catégories
{% endblock %}



    {% block header %}

        {{ include('structure/header.html.twig',{textHeader: "Toutes les catégories"}) }}

    {% endblock %}



    {% block main %}

        {% if categories %}
<div class="container">
            {% for cat in categories %}
                <div class="text-center">
                    {{ cat.libelle }}
                </div>
            {% endfor %}
</div>
        {% else %}
            <div class="text-center">bla</div>
        {% endif %}

    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}
